* {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
}

.background {
  height: 100%;
  width: 100%;
  background-image: url("../../images/circuitPurple.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
}

.retro-light {
  position: absolute;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 221, 0, 0.8);
  opacity: 0;
  animation: flickerAnimation 2s infinite; /* Flickering Animation */
  filter: blur(20px); /* Blur effect to the lights */
}


/* left second dot */ 
.light1 {
  top: 17%;
  left: 31.6%;
}

/* right circle */ 
.light2 {
  top: 28%;
  left: 94%;
}

/* left top dot */
.light3 {
  top: 14%;
  left: 28%;
}

/* left bottom circle */
.light4 {
  top: 83%;
  left: 16.4%;
}

/* right top dot */
.light5 {
  top: 55%;
  left: 66.5%;
}

/* right bottom dot */
.light6 {
  top: 67%;
  left: 66.5%;
}

/* right middle dot */
.light7 {
  top: 60%;
  left: 74%;
}

/* Animation for flickering lights */
@keyframes flickerAnimation {
  0% {
      opacity: 1; 
  }
  50% {
      opacity: 0; 
  }
  100% {
      opacity: 1;
  }
}

.formBox {
  width: 380px;
  height: 510px;
  position: relative;
  margin: 6% auto;
  border-radius: 10px;
  background: rgba(50,15,115,255);
  box-shadow: 0 0 50px rgba(219, 74, 236, 1);
  padding: 5px;
  overflow: hidden;
}

.title-logo {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.title-logo img {
  width: 50px;
  height: 50px; 
}

.title-logo h1 {
  font-size: 24px;
  margin-top: 10px;
}

.slogan {
  font-family: Arial;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-top: -15px;
}

.buttonBox {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 10px 2px rgba(219, 74, 236, 1);;
  border-radius: 30px;
}

.toggle {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: white;
  font-size: 11px;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: rgba(219, 74, 236, 1);;
  border-radius: 30px;
  transition: .5s;
}

.input-group {
  top: 220px;
  position: absolute;
  width: 280px;
  transition: .5s;
}

::placeholder {
  color: white;
}

.input-field-login {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(219, 74, 236, 1);
  outline: none;
  background: transparent;
  color: white;
  font-size: 14px;
  font-family: Arial;
}

.input-field-register {
  width: 100%;
  padding: 7px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(219, 74, 236, 1);;
  outline: none;
  background: transparent;
  color: white;
  font-size: 15px;
  font-family: Arial;
}

.login-btn {
  top: 60px;
  width: 85%;
  padding: 10px 30px;
  position: relative;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #db4aec;
  border: 0;
  outline: none;
  border-radius: 30px;
  transition: background 0.3s;
  color: white;
}

.login-btn:hover {
  background: #14a5f8;
}

.register-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #db4aec;
  border: 0;
  outline: none;
  border-radius: 30px;
  transition: background 0.3s;
  color: 0.3s;
  color: white;
}

.register-btn:hover {
  background: #14a5f8;;
}
/* 
input:invalid {
  border-bottom: 1px solid red;
} */

.checkbox {
  margin: 30px 10px 30px 0;
}

.agree-stmt {
  font-family: Arial;
  text-align: center;
}

.error-message {
  font-size: 5px;
  display: none;
  margin-top: 20px;
  text-align: center;
}

span {
  color: #14a5f8;;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}

#login {
  left: 50px;
}

#register {
  left: 450px;
}

.errorMsg {
  font-family: Arial;
  display: none;
  margin-top: 10px;
  color: red;
}