body {
  font: 14px/1.5 Arial, sans-serif;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #D1D2F9;
}

.title {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center vertically */
  justify-content:space-between; /* Center horizontally */
}

/* Forms Styling */
.forms-wrapper {
  width: 100%;
  max-width: 280px;
  height: 380px;
  position: relative;
  margin: 5% 10% 1% auto;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  background-color: #576490;
}

.button-box {
  display: flex;
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px grey;
  background-color: #D1D2F9;
  border-radius: 30px;
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #A3BCF9, #7796CB);
  border-radius: 30px;
  transition: .5s;
}

.input-group {
  display: flex;
  flex-direction: column;
  top: 150px;
  position: absolute;
  width: 180px;
  transition: .5s;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
  color: white;
}

.input-field::placeholder {
  color: white;
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #A3BCF9, #7796CB);
  border: 0;
  outline: none;
  border-radius: 30px;
  color: white;
}

#search {
  left: 50px;
}

#addContact {
left: 450px;
}

/* TABLE STYLING */
.contact-table {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 800px;
  max-height: 500px;
  overflow: auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  margin-right: 25px;
}

.contact-table table {
  width: 100%;
}

.contact-table th,
.contact-table td {
  padding: 10px;
  border: 1px solid #000;
}

.contact-table th {
  background-color: #A3BCF9;
  color: #000;
}

.contact-table td {
  background-color:#7796CB ;
  color: #000;
}

.contact-table th,
.contact-table td:first-child {
  border-left: none;
}

.contact-table th:last-child,
.contact-table td:last-child {
  border-right: none;
}

/*Small Screen Adjustments*/
@media (max-width: 830px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }
  .contact-table {
    max-height: 100%;
    height: 390px;
  }
}
